@keyframes unMount {
  1% {
  }
  100% {
    top: 160px;
    left: 650px;
  }
}
.pazl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pazlContent {
  border: 2px solid black;
border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: cornflowerblue;
  padding: 10px;

}
.selectDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  
}
.selectPhotoImg{
  border: 3px solid black;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;

  
}
.selectModeBtn{
  border: 3px solid black;
  background-color: rgb(253, 253, 253) ;
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
  cursor: pointer;
}
.selectModeBtn{
  background-color: rgb(253, 253, 253) ;

}
.current{
transform: scale(1.05);
border-width: 5px;
border-color: greenyellow ;
}

.gameWindow {
  border: 1px solid black;
  width: 480px;
  height: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.element {

  position: absolute;
  border: 1px solid black;
  transition: top 0.4s, left 0.4s, right 0.4s, bottom 0.4s, border-width 0.5s, width 0.5s, height 0.5s;
}
.element3x3{
  width: 155px;
  height: 155px;
}
.element4x4{
  width: 115px;
  height: 115px;
}

.elementImg {
  width: 100%;
  height: 100%;}

/* 3x3 */
.element13x3 {
  top: 0;
  left: 0;}
.element23x3 {
  top: 0;
  left: 160px;}
.element33x3 {
  top: 0;
  left: 320px;}
.element43x3 {
  top: 160px;
  left: 0;}
.element53x3 {
  top: 160px;
  left: 160px;}
.element63x3 {
  top: 160px;
  left: 320px;}
.element73x3 {
  top: 320px;
  left: 0;}
.element83x3 {
  top: 320px;
  left: 160px;}
.element93x3 {
  top: 320px;
  left: 320px}


/* 4x4 */
.element14x4{
  top: 0;
  left: 0}
.element24x4{
  top: 0;
  left: 120px;}
.element34x4{
  top: 0;
  left: 240px;}
.element44x4{
  top: 0;
  left: 360px;}
.element54x4{
  top: 120px;
  left: 0px;}
.element64x4{
  top: 120px;
  left: 120px}
.element74x4{
  top: 120px;
  left: 240px}
.element84x4{
  top: 120px;
  left: 360px}
.element94x4{
  top: 240px;
  left: 0px}
.element104x4{
  top: 240px;
  left: 120px}
.element114x4{
  top: 240px;
  left: 240px}
.element124x4{
  top: 240px;
  left: 360px}
.element134x4{
  top: 360px;
  left: 0px}
.element144x4{
  top: 360px;
  left: 120px}
.element154x4{
  
  top: 360px;
  left: 240px}
.element164x4{
  
  top: 360px;
  left: 360px}


















  .startEl3x3{
    transform: translate(2px, 2px);
  }
  .startEl4x4{
    transform: translate(2px, 2px);
  }
  
  .startBtn{
    width: 360px;
    height: 90px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 25px;
  
    
  }
  
 .missing {
      top: 490px;
      left: 380px;
      width: 85px;
      height: 85px;
      transition: top 0.7s, left 0.7s, right 0.7s, bottom 0.7s;
      z-index: 1;
    }

.emptyDiv{
  position: absolute;
  top: 487px;
  left: 377px;
  border: 2px solid black;
  width: 93px;
  height: 93px;
  border-radius: 5px;

}

.missing2 {
transition: top 0.7s, left 0.7s, right 0.7s, bottom 0.7s, width 0.5s, height 0.5s, border-width 0.5s;
z-index: 1;

}

.vverhVniz {
  width: 400px;
}
.offBorder3x3 {
  border-width: 0px;
  width: 160px;
  height: 160px;
}
.offBorder4x4 {
  border-width: 0px;
  width: 120px;
  height: 120px;
}
